body{
    width: 1440px;
    height: 3770px;
}

/*навигация*/
li{
    list-style: none;
}

.navigation{
    display: flex;
    justify-content: center;

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50px;
    height: 61px;
    position: relative;
    right: 210px;
}

.main a{
    text-decoration: none;
    color: black;
    font-family: "Kulim Park";
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 30px;
    position: relative;
    right: 380px;
}

.name_logo{
    font-family: "Kulim Park";
    font-weight: 700;
    font-style: Bold;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    right:249px;
    top:30px;
}

.helping{
    position: relative;
    left:185px;
    width: 216px;
    height: 41px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 18px;
}
/*header*/
.Africa{
    width: 1320px;
    border-radius: 50px;
}

.save{
    font-family: "Kulim Park";
    font-weight: 600;
    font-style: Bold;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 1050px;
    left: 30px;
    width: 900px;
    color: white;
}

.protection{
    font-family: "Kulim Park";
    font-weight: 600;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 1150px;
    left: 850px;
    width: 450px;
    color: white;
}

.help{
    font-family: "Kulim Park";
    font-weight: 275;
    font-style: ExtraLight;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    height: 200px;
    width: 200px;
    border-radius: 990px;
    background-color: white;
    color: orange;
    border: 1px solid rgba(255, 255, 255, 1);
    position: relative;
    bottom :800px;
    left: 600px;
}
/*основная информация*/
.lion{
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 427px;
    border-radius: 50px;
}

.mission{
    width: 551px;
    height: 138px;
    position: relative;
    bottom: 847px;
    left: 567px;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
}

.create{
    width: 651px;
    height: 138px;
    position: relative;
    bottom: 890px;
    left: 567px;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.come_on_help{
    width: 751px;
    height: 66px;
    background: rgba(188, 94, 40, 1);
    position: relative;
    bottom: 841px;
    left: 560px;
    border-radius: 50px;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

.squares{
    text-align: center;
    position: relative;
    bottom: 730px;
    right: 400px;
}

.animals{
    text-align: center;
    position: relative;
    bottom: 730px;
    right: 400px;
}

.proekts{
    text-align: center;
    position: relative;
    bottom: 1090px;
    left: 400px;
}

.valonters{
    text-align: center;
    position: relative;
        bottom: 1090px;
    left: 400px;
}

.number_1{
    font-family: "Kulim Park";
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
}

.square{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 30px;
}

.animal{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 30px;
}

.proekt{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 30px;
}

.valonter{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 30px;
}

.kit{
    width: 317px;
    height: 317px;
    position: relative;
    bottom: 802px;
    border-radius: 50px;
}

.giraphe{
    width: 240px;
    height: 240px;
    position: relative;
    bottom: 412px;
    right: 67px;
    border-radius: 50px;

}

.how{
    font-family: "Kulim Park";
    font-weight: 600;
    font-style: "SemiBold";
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
}

.main{
    width: 445px;
    height: 48px;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.text{
    position: relative;
    bottom: 1180px;
    left: 750px;
}

.line-1, 
.line-2,
.line-3,
.line-4,
.line-5,
.line-6,
.line-7,
.line-8{
    width: 705.0028076171875px;
    height: 2px;
    background-color: black;
    margin-bottom: -10px;
    margin-top: -20px;
}

.lines-1, 
.lines-2,
.lines-3,
.lines-4,
.lines-5,
.lines-6,
.lines-7{
    width: 24px;
    position: relative;
    bottom: 45px;
    left: 680px;
}

.text-1{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    bottom: 1150px;
    left: 600px;
}

.elephant{
    width: 1320px;
    height: 639px;
    position: relative;
    bottom:  864px;
    left: 60px;
    border-radius: 50px;
}

.all{
    width: 800px;
    height: 57px;
    font-family: "Kulim Park";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
}

.donat{
    width: 701px;
    height: 92px;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.want{
    width: 402px;
    height: 35px;
    border-radius: 50px;
    border-width: 1px;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    right: 350px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.helps{
    position: relative;
    bottom: 1300px;
    left: 400px;
    text-align: center;
    color: white;
}

/*footer*/
.line{
    width: 1320px;
    height: 0px;
    left: 60px;
    border-width: 1px;
    border: 2px solid rgba(62, 62, 62, 1)
}

.background a{
    text-decoration: none;
    color: black;
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
}

.column_1_content{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
}

.column_2_content{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
}

.column_3_content{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
}

.column_2{
    position: relative;
    left:300px;
    bottom: 150px;
}

.column_3{
    position: relative;
    left:600px;
    bottom: 300px;
}

.adrees{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.design{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.future{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.news{
    font-family: "Kulim Park";
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.vk{
    width: 62px;
    height: 33px;
    border-width: 1px;
    border-radius: 50px;
    font-family: "Kulim Park";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.tg{
    width: 117px;
    height: 33px;
    border-width: 1px;
    border-radius: 50px;
    font-family: "Kulim Park";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}